/* Conexion a Flaticon - Iconos */
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.cdnfonts.com/css/more-sugar');

                
.cart-empty {
    font-family: 'More Sugar', sans-serif;
}

/*Estilo para todos los elementos de la página*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Estilo para la pagina entera */
body {
    background-color: hsl(170, 44%, 87%);
}


/* Estilo de texto*/
.text-18 {
    font-size: 18px;
    font-family: 'More Sugar', sans-serif;
}

.txt-font, p{
    font-family: 'More Sugar', sans-serif;
}

.text-grey {
    color: rgb(50, 50, 50);
    font-family: 'More Sugar', sans-serif;
}

.text-grey-home {
    color: rgb(50, 50, 50);
    font-weight: 650;
    font-family: 'More Sugar', sans-serif;
}

.mrg-nav-side {
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.mrg-sides {
    margin-left: 10%;
}

.mrg-top {
    margin-top: 6.3%;
}

.container {
    display: flex;
    background-color: #fff;
    height: 750px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin: 150px;
    border-radius: 25px;
}

.form {
    padding: 30pz 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 45px;
    color: #AF8BBF;
    font-weight: 500;
    margin-bottom: 25px;
}

.form {
    font-size: 16px;
    color: #969eae;
    margin-bottom: 25PX;
}

label {
    font-size: 15px ;
    color: #969eae;
    margin-bottom: 15px ;
}

.box {
    border: 0;
    background-color: #a1afcdce ;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline: none;
}

.submit{
    background-color: #98addb;
    border: 0;
    padding: 15px;
    color:#fff;
    font-size: 16px;
    border-radius: 25px;
    width: 250px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(201, 199,253,0.5);
}

.info{
    padding: 50px;
}

.img-1{
    width: 250px;
    margin-bottom: 75px;
}

.location{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.icons{
    display: flex;
    margin-bottom: 31px;
}
.icons img {
    width: 40px;
    margin-right: 10px;
}

.iconos p{
    .txt-font {
        font-family: 'More Sugar', sans-serif;
    }
    
}
.social {
    display: flex;
}
.social img {
    width: 50px;
    margin-right: 30px;
}

@media (max-width:900px){
    .container{
        width: 350px;
        height: 800px;
        margin-top: 50px;
    }

    .info{
        display: none;
    }

    .form{
        width: 100%;
        padding: 30px;
    }

}
body {
    background-image: url('../img/Contacto/fondo.png'); 
    background-size: cover; 
    background-position: center;
}

/* Estilo Footer */
footer{
    background-color:#F8C592;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
    grid-template-columns:none;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #363b76;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #34353d;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}