/* Conexion a Flaticon - Iconos */
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.cdnfonts.com/css/more-sugar');

                
.cart-empty {
    font-family: 'More Sugar', sans-serif;
}

/*Estilo para todos los elementos de la página*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Estilo para la pagina entera */
body {
    background-color: hsl(170, 44%, 87%);
}

/* Estilos del Fondo */
.deg-txt {
    background: linear-gradient(to right, #af8bbfa4, #aad5ff9c);
}

.img-max-height {
    max-height: 375px;
    width: 50%;
}

.titulo-fondo {
    background: linear-gradient(to right, #e5fee8, #FFB6C1);
}

.titulo-form-mrg-bott {
    margin-bottom: 2.5%;
}

.form-mrg-bott {
    margin-bottom: 1%;
}

/* Estilo de texto*/
.text-18 {
    font-size: 18px;
    font-family: 'More Sugar', sans-serif;
}

.txt-font, p{
    font-family: 'More Sugar', sans-serif;
}

.text-grey {
    color: rgb(50, 50, 50);
    font-family: 'More Sugar', sans-serif;
}

.text-grey-home {
    color: rgb(50, 50, 50);
    font-weight: 650;
    font-family: 'More Sugar', sans-serif;
}

.mrg-nav-side {
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.mrg-sides {
    margin-left: 10%;
}

.mrg-top {
    margin-top: 6.3%;
}

.social {
    display: flex;
}

.social img {
    width: 50px;
    margin-right: 30px;
}

body {
    background-image: url('../img/Donaciones/fondo.png'); 
    background-size: cover; 
    background-position: center;
}

/* Estilo Footer */
footer{
    background-color:#F8C592;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
    grid-template-columns:none;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #363b76;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #34353d;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}